/*
property-transform
value=
translate()
rotate()
scale()
scaleX()
scaleY()
Skew()
SkewX()
SkewY()
matrix()
transform:matrix(scaleX(), skewX(), skewY(), ScaleY(), TranslateX(), TranslateY());
*/
*{
    margin:0px;
    padding:0px;
    font-family:cursive;
}
.box{
    height:200px;
    width:200px;
    margin-top:300px;
    margin-left:300px;
    background-color:green;
/*transform:translate(100px, 100px);*/
/*transform:rotate(50deg);*/
}
p{
    line-height:200px;
}
.box:hover{
    /*transform:rotate(50deg);*/
   /* transform:scaleX(0.2); */
    transition:2s;
    transform: skew(10deg, 20deg);
    transform: matrix(2,-0.3,0,1,0,0);

}